@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin:0;
    padding:0;
    border:0;
    
}

body{
    font-family: Lato, sans-serif;
    color: white;
    background-color: black;
}

header{
    height: 120px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#big-e{
    height: 100px;
    width: 100px;
    margin-left: 30px
}

#logo-text{
    height: 80px;
    width: 220px;
    padding-bottom: 10px;
}

/* navigation links */

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}



#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer{
    height:400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url("../images/online-learning.jpg") no-repeat center center;
    background-size: cover;

    /* Animates zoom effect on loading the page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }

}

#why{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading p {
    text-align: right;
}

.right-about-heading h2 {
    text-align: right;
}

/* Club ethos center image */

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 200px;
    height: 200px;
    padding: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url("../images/big-E-logo.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 1200px){
    #why{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #left-about, #right-about {
        width:100%;
        float:left;
        padding: 0;
    }

    #center-about{
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    
    #menu{

        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #big-e{
        height: 100px;
        width: 100px;
        margin-left: 30px;
        margin-top: 80px
    }
    
    #logo-text{
       visibility: collapse;
    }
    
    /* navigation links */
    
    #menu{
        font-size: 90%;

    }
    
    
    
    #menu li {
      
        list-style-type: none;
        margin-right: 30px;
    }
    
    #menu a {
        text-decoration: none;
        color: inherit;
    }

    #cover-text{
        left:0px;
    }

    #club-ethos{
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading{
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2{
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p{
        text-align: center;
        padding: 0 20px 0 20px;
    }

    
}



